.category-form-row-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  button {
    &:last-child{
      margin-right: 8px;
    }

    flex: 1
  }
}

.category-form-root {
  max-width: 670px;
  width: min-content !important;
}

@media screen and (max-width: 992px) {
  .category-form-root {
    width: 85% !important;

    .MuiInputBase-input, .MuiOutlinedInput-notchedOutline {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .category-form-root {
    .MuiInputBase-input, .MuiOutlinedInput-notchedOutline {
      width: 90% !important;
    }
  }
}
